body {
    display: flex;
    justify-content: center;
    background-color: black;
    background-image: url(pics/lognWallpaper.jpg);
    background-size: cover;
}

form input, form button {
    margin: 5px;
}

#register {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 5px;
}

p {
    text-align: center;
    font-size: 18px;
}